@import "global";
@import "header";

.comments{
    margin-top: 100px;
    padding: 100px 0;
    &-wrapper{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    &-card{        
        border-radius: 40px;
        border: 1px solid black;
        &__body{
            padding: 12px;
            h3{
                color: blue;
            }
            p{
                margin: 5px 0;
                font-size: 18px;
            }
            strong{
                font-size: 15px;
            }
            .username{
                text-transform: capitalize;
            }
        }
    }
    @media (max-width:990px) {
        &-wrapper{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width:600px) {
        &-wrapper{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@import "footer";